* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
}

.container {
    background-color: rgb(240, 139, 178);
    height: 100vh;
}
